name: Copy folder to other branch

on: [push]

concurrency: 
  group: ${{ github.ref }}
  cancel-in-progress: true
  
jobs:
  copy:
    name: Copy my folder
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: copy
        env:
          SRC_FOLDER_PATH: '.'
          TARGET_BRANCH: 'gh-pages'
        run: |
          files=db.json
          git config --global user.name 'GitHub Action'
          git config --global user.email 'action@github.com'
          git fetch                         # fetch branches
          git checkout $TARGET_BRANCH       # checkout to your branch
          git checkout ${GITHUB_REF##*/} -- $files # copy files from the source branch
          git add -A
          git diff-index --quiet HEAD ||  git commit -am "deploy files"  # commit to the repository (ignore if no modification)
          git push origin $TARGET_BRANCH # push to remote branch
      - run: |
          curl -XPOST -u "nclsbayona:${{secrets.PAT_TOKEN}}" -H "Accept: application/vnd.github.everest-preview+json" -H "Content-Type: application/json" https://api.github.com/repos/nclsbayona/nclsbayona.github.io/dispatches --data '{"event_type": "build_application"}'
